* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: linear-gradient(#2580bc, #1860bd, #175077);
    padding: 17px;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 14px;
    margin-top: 2px !important;
    display: inline-block;
    transition: 0.3s;
}

nav a:hover {
    color: #e6ad12;
    text-decoration: none;
    margin-right: 14px;
    margin-top: 2px !important;
    display: inline-block;
}

.container {
    padding: 2em;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 2;
}